.stepHeader {
  font-size: 2em;
}

.stepOfStep {
  font-size: 2em;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: #efefef;
}

.dropzone .dz-message {
    font-size: 1.25em;
}
